/* pink and purple header colours*/



body{
    /* site page background color*/ 
    background-color: rgb(196, 88, 88) (116, 199, 181);
}

a:link, a:visited, a:active 
{ 
    /* color of links*/ 
    color: black;  
    text-align: center; 
    text-decoration: navy; 
    display: inline-block; 
}

    /* hovering over tags*/
a:hover
{
    background-color:rgb(255, 152, 224); 
}

    /* navigation bar color*/ 
nav {
    height: 60px;
    background-color: rgb(250, 189, 199);
  }

    /* padding + display */ 
  .inline-block {
    padding: 10px; 
    display: inline-block;
  }


  * {
    box-sizing: border-box;
  }
  
  .index_column {
    float: left;
    width: 33.33%;
  }
  
  /* Clearfix (clear floats) */
  .index_row::after {
    content: "";
    clear: both;
    display: table;
  }


  .gallery_column {
    float: left;
    width: 50%;
    padding: 10px
  }
  
  /* Clearfix (clear floats) */
  .gallery_row::after {
    content: "";
    clear: both;
    display: table;
    width: 100%;

  }




  h1

  { 
  padding: 0px;
  font-weight:bold;
    font-style: italic;
    font-family: arial, helvetica, sans-serif; 
    size: 500%; 

  }
  
  
  
  h2
   {
    font-weight:bold;
    font-style: italic;
    font-family: arial, helvetica, sans-serif; 
    size: 500%; 
  }

  h3
  { 
  padding: 0px;
  font-style: italic;
  font-weight:bold;
  }

  h4 
  { 
    color:black;
    padding: 0px;
    font-weight: 0;
  }

  